.product-card {
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
    border: 1px solid #eee;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.btn-qty {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
}

.btn-minus {
    background-color: #dc3545;
}
.btn-plus {
    background-color: #ffc107;
    color: #000;
}
.btn-add {
    background-color: #28a745;
    color: #fff;
}

.order-panel {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.order-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 6px;
}

.cart {
    max-height: 500px;
    overflow-y: auto;
}

.product-card .btn-store {
    background-color: #007bff;
    color: white;
    margin: 12px 0;
    width: 100%;
    transition: background 0.2s;
}

.product-card .btn-store:hover{
    background-color: #006aee;
    color: white;
}

.btn-pay {
    background-color: #28a745;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    border: none;
    transition: background 0.2s;
}

.btn-pay:hover {
    background-color: #218838;
}
